<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recomendação do livro</title>
</head>

<body>
    <form action="/recomenda">
        <div>
            <h2>Pergunta 1</h2>
            <!-- perg1=1 -->
            <input type="radio" name="perg1" value="1"> Opção 1
            <br>
            <input type="radio" name="perg1" value="2"> Opção 2
            <br>
            <input type="radio" name="perg1" value="3"> Opção 3
            <br>
        </div>
        <div>
            <h2>Pergunta 2</h2>
            <input type="radio" name="perg2" value="1"> Opção 1
            <br>
            <input type="radio" name="perg2" value="2"> Opção 2
            <br>
            <input type="radio" name="perg2" value="3"> Opção 3
            <br>
        </div>
        <div>
            <h2>Pergunta 3</h2>
            <input type="radio" name="perg3" value="1"> Opção 1
            <br>
            <input type="radio" name="perg3" value="2"> Opção 2
            <br>
            <input type="radio" name="perg3" value="3"> Opção 3
            <br>
        </div>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>